* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif; }

.header {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec; }

.container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between; }

.header-left {
  display: flex; }

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black; }

.bsearch {
  display: flex;
  width: 87px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  justify-content: center;
  align-items: center;
  border-radius: 3px 0 0 3px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  text-decoration: none;
  position: relative; }

.search {
  padding: 30px;
  display: flex; }

.isearch {
  width: 317px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 10px; }

.fa-search {
  padding-left: 6px;
  padding-bottom: 5px; }

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }

.buttom {
  background-color: #f16d7f;
  margin-left: 26px;
  text-decoration: none;
  display: flex; }

.navig {
  height: 51px; }

.container2 {
  width: 1140px;
  margin: 0 auto; }

.mitema {
  text-decoration: none;
  padding: 10px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.mitema:hover {
  color: #f16d7f; }

.mitemli {
  display: flex; }

.menu {
  display: flex;
  margin-left: 205px;
  align-content: center;
  justify-content: space-around;
  width: 680px;
  position: relative; }

.mitemli:hover .dropbox {
  display: flex; }

.mitemli:last-child:hover .dropbox {
  left: -150px; }

.mitemli:last-child:hover .dtri {
  left: 750px; }

.dropbox {
  background-color: #ffffff;
  position: absolute;
  border-radius: 5px;
  display: none;
  border: 1px solid black;
  top: 40px; }

.dtri {
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  position: relative;
  left: 20px;
  top: -7px;
  -webkit-transform: rotate(45deg);
  border-top: 1px solid black;
  border-left: 1px solid black; }

.dbox1 {
  width: 235px;
  padding: 20px; }

.dbox1:last-child {
  width: 235px;
  padding-right: 0; }

.dbli {
  list-style: none; }

.dba {
  text-decoration: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px; }

.dba:hover {
  color: #f16d7f; }

.dheader {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid black; }

.searchdrop {
  top: 65px;
  z-index: 2;
  width: 262px; }

.search:hover .dropbox {
  display: flex; }

.cartdrop {
  top: 65px;
  z-index: 2;
  width: 262px;
  flex-direction: column;
  justify-content: center; }

.cart:hover .dropbox {
  display: flex; }

.checkout {
  width: 224px;
  height: 50px;
  border: 1px solid #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 19px; }

.gotocart {
  width: 224px;
  height: 50px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 19px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.cartprod1 img {
  float: left; }

.cartprod1 h3 {
  padding: 10px;
  display: block; }

.cartprod1 {
  width: 229px;
  height: 118px;
  border-bottom: 1px solid #ededed;
  margin-left: 17px;
  margin-top: 21px; }

.star {
  color: #e4af48;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.total {
  width: 228px;
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 19px; }

.bbanner {
  width: 100%;
  height: 614px;
  background-color: #e8e8e8;
  margin: 0 auto; }

.banner {
  background-image: url(img/banner.jpg);
  height: 614px;
  width: 1140px;
  background-position: 0 -51px;
  margin: 0 auto;
  background-repeat: no-repeat;
  display: flex; }

.tbanner {
  margin-top: 255px;
  border-left: 10px solid #f16d7f;
  height: 92px;
  padding-left: 10px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px; }

.deal-acc {
  background-image: url(img/acc.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  width: 560px;
  height: 261px;
  margin-top: 20px;
  background-color: #dadad2; }

.deal {
  margin: 0 auto;
  margin-top: 98px;
  width: 1140px;
  display: flex; }

.deal-men {
  background-image: url(img/men.jpg);
  width: 560px;
  height: 542px; }

.deal-women {
  background-image: url(img/women.jpg);
  height: 261px;
  width: 560px;
  margin-left: 20px; }

.deal-kids {
  width: 560px;
  height: 542px;
  background-image: url(img/kids.jpg);
  margin-left: 20px;
  margin-top: 20px; }

.featured {
  width: 1139px;
  height: 1195px;
  margin: 0 auto;
  padding-top: 100px; }

.featured h3 {
  display: flex;
  justify-content: center;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px; }

.fp {
  display: flex;
  justify-content: center;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding-top: 10px; }

.f1 p {
  padding-left: 10px;
  padding-top: 17px; }

.cartlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: 14px;
  background: rgba(255, 255, 255, 0.5)}

.f1 {
  position: relative;
  margin-top: 60px; }

.f1:hover .fimg {
  filter: brightness(50%); }

.f1:hover .addcart {
  display: flex; }

.addcart {
  position: absolute;
  top: 94px;
  display: none;
  justify-content: center;
  width: 261px; }

.cartlink:hover {
  box-shadow: 0 0 5px; }

.ftable {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.f1img {
  background-image: url(img/f1.jpg);
  width: 261px;
  height: 279px; }

.f2img {
  background-image: url(img/f2.jpg);
  width: 261px;
  height: 279px; }

.f3img {
  background-image: url(img/f3.jpg);
  width: 261px;
  height: 279px; }

.f4img {
  background-image: url(img/f4.jpg);
  width: 261px;
  height: 279px; }

.f5img {
  background-image: url(img/f1.jpg);
  width: 261px;
  height: 279px; }

.f6img {
  background-image: url(img/f2.jpg);
  width: 261px;
  height: 279px; }

.f7img {
  background-image: url(img/f3.jpg);
  width: 261px;
  height: 279px; }

.f8img {
  background-image: url(img/f4.jpg);
  width: 261px;
  height: 279px; }

.browse {
  display: flex;
  justify-content: center;
  margin-top: 79px; }

.offer {
  width: 1140px;
  height: 529px;
  background-image: url(img/offer.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px; }

.otext {
  width: 373px;
  height: 529px;
  background-color: #222224; }

.offer-img {
  float: left; }

.offer1 {
  margin-left: 32px; }

.otext h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 55px;
  margin-left: 114px;
  width: 219px; }

.otext p {
  width: 219px;
  margin-left: 111px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  padding-top: 17px; }

.sub {
  width: 1600px;
  height: 438px;
  background-image: url(img/back_sub.jpg);
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.foot {
  width: 1600px;
  height: 53px;
  margin: 0 auto; }

.dtext {
  position: absolute;
  background-color: white;
  margin-top: 26px;
  padding: 16px; }

.dtext h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-align: left; }

.dtext h2 {
  font-size: 30px;
  font-weight: 900; }

.pink {
  color: #f16d7f; }

.olabel {
  padding-top: 146px;
  padding-left: 39px; }

.olabel h1 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.olabel h3 {
  font-size: 32px;
  letter-spacing: 0.9px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase; }

.sub-right {
  padding-top: 148px;
  padding-right: 330px; }

.sub-right h3 {
  line-height: 54px;
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: flex;
  justify-content: center; }

.subp {
  color: #222224;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 54px;
  display: flex;
  justify-content: center; }

.mail {
  display: flex;
  padding-top: 35px; }

.imail {
  width: 334px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
  padding-left: 28px;
  padding-right: 28px; }

.bsub {
  margin-left: 0;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f; }

.tbuttom {
  text-decoration: none;
  padding: 10px;
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-account {
  padding-left: 6px;
  padding-bottom: 7px; }

.sub-left {
  margin-left: 230px;
  margin-top: 111px; }

.sub-left img {
  float: left;
  height: 83px;
  padding-bottom: 50px;
  padding-right: 28px; }

.sub-left p {
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  width: 386px;
  float: left;
  margin-bottom: 19px; }

.sub-left h3 {
  margin-top: 19px;
  padding-left: 2px; }

.foot1 {
  height: 458px;
  display: flex; }

.foot2 {
  height: 79px;
  background-color: #e6e6e6; }

.ft1-pr1 {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  padding-left: 228px;
  padding-top: 109px; }

.ft1-pr2 li {
  list-style: none; }

.ft1-pr2 ul {
  margin-top: 45px; }

.ft1-pr2 a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  margin-top: 5px;
  display: block; }

.ft1-pr2 {
  padding-left: 64px;
  padding-top: 123px; }

.fcopy {
  margin-top: 24px;
  width: 260px;
  height: 14px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px; }

.icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: block;
  text-align: center;
  line-height: 32px;
  margin-left: 8px;
  color: #b2b2b2; }

.icon:hover {
  background-color: #f16d7f; }

.flinks {
  margin-top: 24px;
  display: flex; }

.inactive {
  background-color: grey; }

.inactive:hover {
  background-color: grey; }

.arrivals {
  width: 100%;
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  justify-items: center; }

.arrivals h3 {
  display: flex;
  align-items: center;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.bread {
  display: flex;
  align-items: center; }

.bread1 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
  text-decoration: none; }

.bread3 {
  color: #f16d7f;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none; }

.picture {
  width: 100%;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between; }

.picture1 {
  background-image: url(img/picture1.jpg);
  width: 597px;
  height: 724px;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 11px;
  border: 1px solid #f7f7f7; }

.arrow-l {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 365px; }

.arrow-r {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 365px; }

.options-back {
  position: relative;
  height: 763px;
  width: 100%; }

.options {
  width: 1141px;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: absolute;
  margin: 0 auto;
  top: -86px;
  display: flex;
  flex-direction: column; }

.opt-text {
  width: 618px;
  height: 60px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 67px;
  text-align: center; }

.options h4 {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 14px;
  margin-top: 73px; }

.options h3 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 17px; }

.material {
  margin: 0 403px;
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.bold {
  color: #2f2f2f; }

.options h2 {
  padding: 43px;
  margin: 0 auto;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #eaeaea;
  width: 642px;
  display: flex;
  justify-content: center; }

.opt-choose {
  margin: 0 auto;
  display: flex;
  margin-top: 63px; }

.opt-choose p {
  padding-bottom: 16px; }

.size {
  margin-left: 53px;
  margin-right: 53px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.opt-addcart {
  margin: 0 auto;
  margin-top: 28px; }

.opt-cartlink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #ef5b70;
  margin: 0 auto;
  padding: 16px 206px;
  border: 1px solid #ef5b70; }

.single-also {
  margin-bottom: 97px; }

.single-also h3 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center; }

.f9img {
  background-color: #e9e9e9;
  background-image: url(img/f9.png);
  width: 261px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: center; }

.f10img {
  background-color: #e9e9e9;
  background-image: url(img/f10.png);
  width: 261px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: center; }

.f11img {
  background-color: #e9e9e9;
  background-image: url(img/f11.png);
  width: 261px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: center; }

.f12img {
  background-color: #e9e9e9;
  background-image: url(img/f12.jpg);
  width: 261px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: center; }

.stars {
  display: flex; }

.fstars {
  padding-top: 17px;
  padding-left: 116px;
  color: #e4af48;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  display: none; }

.bonuses {
  height: 341px;
  width: 100%;
  background-color: #222224; }

.bonus1 {
  width: 315px;
  height: 192px;
  margin-top: 89px; }

.bonus1:first-child {
  margin-right: 82px; }

.bonus1:last-child {
  margin-left: 82px; }

.bonus1-img {
  margin-left: 132px;
  margin-bottom: 32px; }

.bonus2-img {
  margin-left: 134px;
  margin-bottom: 23px; }

.bonus3-img {
  margin-left: 131px;
  margin-bottom: 29px; }

.bonus1 h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  display: block; }

.bonus1 p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  margin-top: 17px; }

.bonus-container {
  width: 1108px;
  display: flex;
  margin: 0 auto; }

.ProductsMainBody {
  height: 1644px;
  width: 1140px;
  margin: 0 auto; }

.details-menu {
  width: 225px;
  height: 1593px;
  background-color: white;
  float: left;
  padding-top: 51px; }

.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0; }

.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none; }

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none; }

.cd-accordion-menu input[type=checkbox]:checked + label + ul {
  /* show children when item is checked */
  display: block; }

.cd-accordion-menu input[type=checkbox]:checked + label {
  background-image: url("img/arrow_close.png");
  background-repeat: no-repeat;
  background-position: right; }

.cd-accordion-menu li {
  list-style-type: none; }

.cd-accordion-menu label {
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  margin-top: 18px;
  padding: 11px;
  border-bottom: 1px solid #ebebeb;
  background-image: url("img/arrow_open.png");
  background-repeat: no-repeat;
  background-position: right; }

.cd-accordion-menu a {
  padding-left: 11px; }

.cd-accordion-menu a:hover {
  color: #ef5b70; }

.ProductOptions {
  height: 120px;
  width: 846px;
  display: flex;
  padding-top: 71px;
  padding-left: 56px;
  justify-content: space-between; }

.opt_block {
  height: 110px;
  color: #6f6e6e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.opt_firstInline {
  margin-left: 0;
  margin-bottom: 16px; }

.opt_checkbox {
  margin-left: 23px;
  margin-bottom: 16px; }

.opt_block span {
  padding-left: 9px; }

.opt_block p {
  margin-bottom: 16px; }

.opt_block h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 24px; }

.opt_sort {
  display: flex;
  width: 846px;
  height: 50px;
  background-color: #f3f3f3;
  margin-left: 280px; }

.opt_sort p {
  padding-left: 10px;
  padding-right: 10px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #ebebeb; }

.opt_sort1 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  display: flex; }

.ProductsView {
  height: 1254px;
  width: 846px;
  display: grid;
  grid-template-columns: repeat(3, 263px);
  grid-template-rows: 33% 33% 33%;
  justify-content: space-around;
  padding-left: 55px; }

.product-block {
  height: 360px; }

.f1:hover .addcart2 {
  display: flex; }

.f1:hover .fstars {
  display: flex; }

.addcart2 {
  position: absolute;
  top: 94px;
  display: none;
  justify-content: center;
  width: 261px; }

.cartlink2:hover {
  box-shadow: 0 0 5px; }

.cartlink2 {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: 14px 20px;
  border-radius: 3px; }

.f1:hover .retweet {
  display: flex; }

.retweet {
  position: absolute;
  top: 158px;
  right: 70px;
  width: 57px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  display: none;
  justify-content: center; }

.retweet:hover {
  box-shadow: 0 0 5px; }

.retweetlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 20px; }

.f1:hover .favorite {
  display: flex; }

.favorite {
  position: absolute;
  top: 158px;
  left: 70px;
  display: none;
  justify-content: center;
  width: 57px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #ffffff; }

.favorite:hover {
  box-shadow: 0 0 5px; }

.favoritelink {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 20px; }

.ProductsPages {
  height: 150px;
  width: 846px;
  background-color: white;
  margin-top: 48px;
  margin-left: 280px; }

.pages_view_a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #ef5b70;
  margin: 0 auto;
  padding: 15px 45px;
  border: 1px solid #ef5b70;
  margin-left: 650px; }

.cartProducts {
  height: 618px;
  width: 1140px;
  margin: 0 auto;
  border-bottom: 1px solid #000000; }

.cartbuttons {
  height: 94px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 64px; }

.CartButtonlink {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  padding: 19px 39px; }

.CartButtonlink:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f; }

.cartSummary {
  height: 410px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.summary-block {
  height: 214px;
  width: 360px; }

.summary-block h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
  margin-right: 42px; }

.summary-block3 p {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 42px; }

.summary-block3 {
  background-color: #f5f3f3; }

.buttonProcced_link {
  text-decoration: none;
  padding: 10px;
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  margin-top: 40px; }

.buttonProcced {
  display: flex;
  justify-content: center; }


.modal {
  position:fixed;
  top:10px;
  width:80%;
  height: 80%;
  background-color: black;
  z-index: 9999;
display: block;
}


.display {
  display:none;
}

.size {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin:0px;
  padding: 0px;
}

#cartPageProducts {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  width:800px;
}

.cartPageTitles {
  margin: 10px ;
}

.cartPageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartPageTotal {
  margin: 0 auto;
  width: 300px;
}

#cartPageContacts {
  margin: 0 auto;
  width: 300px;
  display:none;
}

#cartPageComments {
  margin: 0 auto;
  width: 300px;
  display:none;
}


.cartPageDelete :hover {
  border:1px solid pink;


}

.emptyBasket {
  margin:100px;
  grid-column: 1 / 6;
}


/*# sourceMappingURL=style.css.map */
